global:
  resolve_timeout: 5m

route:
  receiver: webhook
  group_by: ['alertname', 'severity']
  group_wait: 10s
  group_interval: 30s
  repeat_interval: 1h

receivers:
  - name: webhook
    webhook_configs:
      - url: 'http://host.docker.internal:9095/alerts'
        send_resolved: true
