apiVersion: 1

datasources:
  - name: AlertManager
    type: alertmanager
    access: proxy
    uid: alertmanager
    url: http://alertmanager:9093
    editable: false
    jsonData:
      implementation: prometheus
